/*
===========================
HOME PAGE CSS
===========================
*/

* {
    /* == RESET: Remove default browser styles == */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* == VARIABLES: Global colors, fonts & sizes == */
    --primary-color: ;
    --secondary-color: ;
    --background-color: ;
    --text-color: ;
    --primary-font: 'bebas neue', sans-serif;
    
}


/* ====== navigation bar / header ====== */
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

/* ====== logo ====== */

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    padding: 0 3rem;
}

.logo a{
    font-family: var(--primary-font);
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 1px; 
    text-decoration: none;
}

/* ====== main-pages ====== */

.main-pages{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    gap: 30px;
}

.main-pages a{
    font-family: var(--primary-font);
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-decoration: none;  
}

/* ====== cart ====== */

.cart{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart a{
    text-decoration: none;
}