/*
===========================
EXPLORE SECTION CSS (HOME)
===========================
*/

.explore-section {
    display: flex;
    width: 100%;
    max-width: var(--max-width);
    height: auto;
    flex-direction: column;
}

.explore-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--primary-font);
    font-size: 2.5rem;
    color: var(--primary-color);
    text-transform: uppercase;
    padding: 2rem 0;
}


.explore-products {
    display: flex;
    width: 100%;
    height: 40rem;
    max-width: var(--max-width);
    flex-direction: row;
    gap: 20px;
    padding: 0 2rem;
}

.explore-sports,
.explore-sneakers,
.explore-trekking {
    display: flex;
    width: 100%;
    max-width: var(--max-width);
    justify-content: center;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2rem;
    transition: all 0.5s ease;
}

.explore-sports:hover,
.explore-sneakers:hover,
.explore-trekking:hover {
    transform: scale(1.05);
}

.explore-sports p,
.explore-sneakers p,
.explore-trekking p {
    font-family: var(--primary-font);
    font-size: 2.5rem;
    color: var(--secondary-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
    line-height: 1.1;
    transition: all 0.5s ease;
}

.explore-sports p:hover,
.explore-sneakers p:hover,
.explore-trekking p:hover {
    color: var(--tertiary-color);
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.678);
}

.explore-trekking {
    background-image: url(../../IMAGES/EXPLORE/explore-trekking1.jpg);
}

.explore-sneakers {
    background-image: url(../../IMAGES/EXPLORE/explore-sneakers1.jpg);
}

.explore-sports {
    background-image: url(../../IMAGES/EXPLORE/explore-sports2.jpg);
}