.footer{
    display: flex;
    width: auto;
    max-width: var(--max-width);
    height: auto;
}

.footer-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: red;
}

.footer-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.footer-logo a{
    font-family: var(--primary-font);
    font-size: 3rem;
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 1px; 
    text-decoration: none;
}

.footer-logo a span{
    color: var(--secondary-color);
}