@import url(./PRODUCTS.css);
@import url(./FOOTER.css);

/*
===========================
HOME PAGE CSS
===========================
*/

* {
    /* == RESET: Remove default browser styles == */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* == VARIABLES: Global colors, fonts & sizes == */
    --primary-color: #000000;
    --secondary-color: #f8c211;
    --background-color: #000000;
    --text-color: #f8f8f8;
    --primary-font: 'bebas neue', sans-serif;
    --max-width: var(--max-width);   
}

/* ====== body styles ====== */

body {
    /* == BASE STYLES: Set background == */
    background-color: var(--background-color);
}

/* ====== wrap -- container ====== */

.wrap{
    /* == LAYOUT: Center content, set max width == */
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1540px;
    margin: 0 auto;
    flex-direction: column;
}

/* ====== hero-header ====== */

.hero-header{
    display: flex;
    height: 90vh;
    background-image: url('../../IMAGES/HEADER/header-img6.jpg');
    background-size: cover;
    background-position: 50% 57%;
    background-repeat: no-repeat;
    width: 100%;
}

/* ====== navigation bar ====== */
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    padding: 0 0.5rem;
    background-color: transparent;
}

/* ====== logo ====== */

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 3rem;
}

.logo a{
    font-family: var(--primary-font);
    font-size: 3rem;
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 1px; 
    text-decoration: none;
}

.logo a span{
    color: var(--secondary-color);
}

/* ====== main-pages ====== */

.main-pages{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 3rem;
    gap: 30px;
}

.main-pages a{
    font-family: var(--primary-font);
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 1.1px;
    text-decoration: none; 
    color: var(--text-color); 
}

/* ====== cart ====== */

.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 1.5rem;
}

.cart a{
    font-family: var(--primary-font);
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 1px;
    text-decoration: none;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    padding: 0.2rem 0.8rem;
}
