@import url('../GLOBAL-CSS/GLOBAL.css');
@import url('./EXPLORE.css');
@import url('./SPECIALITIES.css');

/*
===========================
HOME PAGE CSS
===========================
*/

.hero-header {
    background-image: url('../../IMAGES/HEADER/header-img6.jpg');
}

/* ====== explore button ====== */

.explore-button {
    font-family: var(--primary-font);
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    padding: 1rem 3rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(248, 194, 17, 0.4);
    transition: all 0.3s ease;
}

.explore-button:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 6px 20px rgba(248, 194, 17, 0.6);
}